table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid;
}

table thead tr th {
    border-bottom: 2px solid;
}

button {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    padding: 0.25em 0.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.5em;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

button:active {
    background-color: var(--vscode-button-secondaryBackground);
}

input[type="checkbox"] {
    outline: none;
    cursor: pointer;
    width: 1em;
    height: 1em;
}

.sticky {
    position: sticky;
    background-color: var(--vscode-input-background);
}

a {
    color: var(--vscode-button-background);
    text-decoration: none;
}

a:hover {
    color: var(--vscode-button-hoverBackground);
    text-decoration: underline;
}

a:active {
    color: var(--vscode-button-secondaryBackground);
}

a:focus {
    outline: none;
}