:root {
    --container-paddding: 20px;
    --input-padding-vertical: 6px;
    --input-padding-horizontal: 4px;
    --input-margin-vertical: 4px;
}

body {
    padding: 0 var(--container-paddding);
    color: var(--vscode-foreground);
    font-size: var(--vscode-font-size);
    font-weight: var(--vscode-font-weight);
    font-family: var(--vscode-font-family);
    background-color: var(--vscode-editor-background);
}

*:focus {
    outline-color: var(--vscode-focusBorder) !important;
}

a {
    color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
    color: var(--vscode-textLink-activeForeground);
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

table thead th {
    text-align: left;
    padding: 6px;
}

table thead tr:last-child th {
    border-bottom: 2px solid;
}

table tbody td {
    text-align: left;
    padding: 6px;
    border-bottom: 1px solid;
}

.sticky {
    position: sticky;
    background-color: var(--vscode-input-background);
    padding: 5pt 5pt 0;
    z-index: 1;
}